<!doctype html>
{% extends "base.html" %}
<html>
   <head>
       
       <title>Profile</title>
       
   </head>
   
    <body>
        <style>
fieldset{
width:25%;
background:	#B8B8B8 ;
}
.floatright{
float:right;
width:80%
}
.floatleft{
float:left;
width:5%
}
</style>

<div class="floatleft">
<img src="/static/img/park.jpg" alt="My Favorite football player"/>
</div>
<div class="floatright">
        
        
        <fieldset><p><h1></h1>Winston Lindsay </h1></p></fieldset>
        <fieldset><p>Username: Wushum</p></fieldset>
        <p>ID Number: 620067385</p>
        <p>Age: 24</p>
        <p>Gender: Male</p><br><br><br>
        <p>Believe in yourself.</p>
        
    </body>
</html>