<!--{% extends "base.html" %}-->

<!--{% block main %}-->
<!doctype html>
<html>
   <head>
       
       <title>Profile</title>
       
   </head>
   
    <body>
        
<style>
    
    .floatright{
float: left;
    padding: 0px;
}
.floatleft{
float: left;
margin: 0px 15px 15px 0px;
}


</style>

<p><h1>Profile</h1></p>

<div class="floatleft">

<img src="/static/img/park.jpg" alt="My Favorite football player"/>
</div>

        
        <div class="floatright">

        <p><b></h1>Winston Lindsay </b></h1></p>
        {{date}}
        <p><b>Username:</b> Wushum</p>
        <p><b>ID Number:</b> 620067385</p>
        <p><b>Age:</b> 24</p>
        <p><b>Gender:</b> Male</p><br><br>
        <p>Believe in yourself.</p>
        </div>
    </body>
</html>
<!--{% endblock %}-->